
h2.attorneysTittle{
	text-align: center;
	word-spacing: 0px;
	font-size: 5em;
}

ul.posts-grid{
	padding-bottom:20px;
}

ul.posts-grid li{
	padding:10px;
}

ul.posts-grid li h5{
	text-align:center;
	font-family: Roboto Condensed;
	font-size: 90%;
	font-weight: bold;
	text-transform: inherit;
	padding-top:12px;
	display:none;
}

ul.posts-grid li div.info{
	font-size: 85%;
}

ul.posts-grid li{
	text-align: center;
	display: table;
	height: auto;
	width: 250px;
}

figure.thumbnail.featured-thumbnail{
	display: inline-table;
/* 	height: 230px; */
/* 	width: 220px; */
	height:100%;
	width:100%;
	border:none;
	/*
	-webkit-filter: drop-shadow(1px 1px 3px #222);
  	filter: drop-shadow(1px 1px 3px #222);
  	*/
}

figure.thumbnail.featured-thumbnail a:hover {
  	background:white;
    color:black;
}

figure.thumbnail.featured-thumbnail a {
	 background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px;
     border-color: #cccccc;
     border-style: double;
     color: white;
     font-size: 80%;
     height: 20px;
     left: 20%;
     padding-top: 0%;
     position: absolute;
     right: 20%;
     text-align: center;
     bottom: 10%;
     vertical-align: bottom;
     width: 60%;
     z-index: 1000;
}

figure.thumbnail.featured-thumbnail img {
    height: 100%;
    width: 100%;
    text-align: center;
    /*
    object-fit: cover;
    */
    
    /*-webkit-filter: grayscale(100%); * Chrome, Safari, Opera */
    /*filter: grayscale(100%); */
}

/*
figure.thumbnail.featured-thumbnail a > img {
    height: 100%;
    width: 100%;
    text-align: center;
    object-fit: cover;
}
*/

ul.posts-grid li p.excerpt {
    display: none;
}
.shadowed {
	-webkit-filter: drop-shadow(1px 1px 3px #222);
  	filter: drop-shadow(1px 1px 3px #222);
}
ul.team-grid li h5 {
    display: block;
}
.team-grid .item {
    hyphens: auto;
    margin: 3px;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
}
.team-grid:nth-child(2n) .item .desc {
    background: transparent none repeat scroll 0 0;
}
.team-grid .item .desc {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    color: #1e1e1e;
    display: inline-block;
    left: 0;
    letter-spacing: 0px;
    padding: 0;
    position: relative;
    right: 0;
    text-align: center;
/*     text-transform: uppercase; */
    top: 5%;
    vertical-align: middle;
    width: 100%;
}
.team-grid .item .desc .inner {
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.team-grid .item .desc h5 {
    font-weight: 400;
    margin: 0 0 3px;
}
.team-grid .item .desc h5 a {
    text-decoration: none;
}
.team-grid .item .desc {
    letter-spacing: 0;
}
.team-grid .item .desc {
    color: #1e1e1e;
    letter-spacing: 0px;
    text-align: center;
/*     text-transform: uppercase; */
}