input[type="checkbox"], input[type="radio"]{
	margin:0px 0 0;
}

.answers{
	padding-left:20px;
	color: #6d6d6d;
}

p.submit-wrap>input.sponsorShipRequestForm-send {
    font-size: 24px;
    transition: none;
}

.sponsorShipRequestForm-send{
	font-size: 24px;
    transition: none;
}

.radio-937{
	padding-top:10px;
}

.radio3Class, .optionalQuestionRadio2 {
	width: 100%;
}

.sponsorshipFormTextField{
	width: 100%;
}
.sponsorshipFormEmailField{
	width: 100%;
}
.sponsorshipFormPhoneField{
	width: 100%;
}
.sponsorshipFormFaxField{
	width: 100%;
}
#requestForm{
	padding-left:0;
	margin-top: 3%;
}
.requestFormTitle{
	margin-top:5%;
}
.requestFormTitle h3{
	text-transform: capitalize;
	color: rgb(58, 106, 153);
	background-color: white;
	margin-bottom: -10px;
/* 	border-bottom: 8px solid rgb(58, 106, 153); */
}
#divReq{
	border-bottom: 2px solid rgb(58, 106, 153);
	width: 60%;
	margin-bottom: 10px;
}